/* System Fonts as used by Medium and WordPress - https://css-tricks.com/snippets/css/system-font-stack/ */
:root {
    --easter-green: #7bac03;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    font-size: 12px;
}

h1 {
    margin: 2.5rem 0 1.5rem 0;
    padding: 0;
}

.larger {
    font-size: 120%;
}

.copyleft {
    transform: rotate(180deg);
    display: inline-block;
}

div.main-area {
    flex: 1 1 auto;
    display: flex;
    position: relative;
}

div.main-menu {
    background: var(--easter-green);
}

div.main-menu-inner {
    background: var(--easter-green);
    display: flex;
    margin: 0.75rem auto;
}

.main-menu-item {
    flex: 1 0 auto;
    text-align: center;
    margin: 0 0.2rem;
}
.main-menu-item:hover {
    background: rgba(255, 255, 255, 0.25);
}
.main-menu-item.selected {
    background: white;
}

.main-menu-item-icon {
    width: 1.75rem;
    color: white;
}
.main-menu-item-icon.selected {
    color: var(--easter-green);
}

.base-width {
    max-width: 700px;
}

.controls-width {
    max-width: 400px;
    position: relative;
}

.view-edit {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: /* radial-gradient(circle at 105% -5%, white 0%, white 2%, yellow 15%, transparent 17%, transparent),*/
                linear-gradient(to top, var(--easter-green) 10%, transparent 30%, transparent 100%),
                linear-gradient(to bottom, rgb(113, 204, 246) 5%, transparent 40%, transparent 100%);
}

h1.site-title {
    font-size: 20px;
}

.picture-container {
    flex: 1 1 auto;
    text-align: center;
    max-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

.picture-absolute { /* enforce correct positioning on Firefox */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.picture-controls-anchor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.picture-controls-line {
    width: 400px;
    position: relative;
}

.picture-egg {
    max-width: 100%;
    max-height: calc(100vh - 14rem); /* Grrrr, needed on iPhone Safari */
}

.egg-area:hover {
    stroke: black;
    stroke-width: 1.5;
}

.palette-outer {
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
    margin: 0.5rem 0;
}

.palette-inner {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.palette-color {
    width: 30px;
    flex: 0 1 auto;
    height: 30px;
    margin: 2px;
    display: inline-block;
    border: 2px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.palette-select {
    margin: 2px 4px;
    height: 30px;
    box-sizing: border-box;
}

.palette-color:hover {
    border-color: black;
}

.brush-select {
    position: absolute;
    bottom: 0;
    left: 0;
}

.rotate-bar {
    margin: 0.5rem 0;
}

.rotate-bar-svg {
    max-width: 100%;
}

.view-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1;
    background: linear-gradient(to top, white 10%, rgba(255, 255, 255, 0.85) 100%);
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-top: 10px var(--easter-green) solid;
}

.view-cover > .base-width {
    width: 400px;
}

.view-info-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-info-top {
    flex: 1 1 auto;
    margin: 0 1rem;
}

.view-info-bottom {
    flex: 0 0 auto;
    margin: 0 1rem;
}

.resolution-button {
    margin: 0.2rem;
    padding: 0.4rem;
    width: 8em;
}

.egg-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.egg-list-item {
    margin: 0.5rem 0.2rem;
    padding: 0;
    border: 1px lightgray solid;
}
.egg-list-item:hover {
    border-color: black;
}

.egg-list-item-id {
    color: gray;
    padding: 0.25rem;
}

.egg-list-item-name {
    padding: 0.25rem;
}

.egg-list-item-histogram {
    height: 0.5rem;
    width: 100%;
    display: flex;
}

.egg-list-item-histogram-color {
    flex: 1 auto;
}

.egg-type-id {
    display: inline-block;
    background: darkgray;
    color: white;
    font-size: 80%;
    padding: 0.25rem;
    margin: 0 0.5rem;
    border-radius: 0.1rem;
}

.egg-list-item-link {
    text-decoration: none;
    color: inherit;
}